/* Nút thêm chức vụ */
.add-btn {
    background-color: #28a745; /* Màu xanh lá */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .add-btn:hover {
    background-color: #218838;
  }
  
  /* Nút xóa chức vụ */
  .delete-btn {
    background-color: #dc3545; /* Màu đỏ */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  .td {
    display : flex ; 
  }
  .employee-table{
    margin-top : 20px ;
  }
  